body{
	background-color: #ffa500;
	font-family: brevia, helvetica, verdana, sans-serif;
}

#page{
	width: 80%;
	margin: 0 auto;
}

.foldup {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	color: #FFF;
}

.foldup > span {
	display: inline-block;
	margin: 20px 10px;
	border-radius: 12px;
}

.foldup span > span{
	display: inline-block;
	width: 1.5em;
	padding: .2em 0;
	position: relative;
}

.foldup span > span:first-child { border-radius: 10px 0 0 10px; }
.foldup span > span:last-child { border-radius: 0 10px 10px 0; }
.foldup span > span:only-child { border-radius: 10px; }